.chat-box{
    height:100vh;
}
.chat {
    height: 80vh;
    width: 100vw; 
    border-bottom: 1px solid lightgray;
    position: relative;
}

.messages {
    width: 100vw; 
    height: 80vh;
    overflow-y: scroll;
}

.message-mine {
    background-color: #89969F;
    width: 60vw;
    float: right;
    clear:both;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.message-yours {
    background-color: #B8C5D0;
    width: 60vw;
    float: left;
    clear:both;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.chat-header {
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  
  .ChatAvatar {
    border: 2px solid #2176AE;
  }
  
  .ChatText {
    display: flex;
    flex-direction: column;
  }
  
  .ChatName {
    color:#2176AE;
    font-size: 18px;
    font-weight: bold;
  }

  .fa-paper-plane {
      color: white;
  }
  
  .fa-paper-plane:hover{
    color: #2176AE;
}

  .send-btn {
      background-color: #FFCB21;
      width: 40px;
      height: 40px;
  }

  .message-form {
      background-color: white;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100vw;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: flex-start;
  }

  .btn-div {
    width: 40px;
    height: 40px;
  }

  .message-input {
      width: 80vw;
  }