.ChatItem {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-content: center;
  margin: 0px !important;
}

.ChatAvatar {
  border: 2px solid #2176AE;
}

.ChatText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ChatName {
  color:#2176AE;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

.ChatDate {
  text-align: left;
  color: #FFCB21;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ChatDate-grey {
  text-align: left;
  color: #828282;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ChatTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

.bg-darker {
  background-color: #eaf2f7;
}

.message {
  color: #6d6b6b;
}