.logged-out{
    height: 100vh;
    width: 100vw;
    padding: 0px;
    background-image: url('./../../imgs/homepage.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-signIn{
    background-color: white;
    border: 1px solid #2176AE;
    color: #2176AE;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 100px;
    bottom: 40px;
}

.btn-signUp{
    background-color: #FFCB21;
    border: 1px solid #FFCB21;
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 100px;
    bottom: 40px;
}