.container {
    padding: 0px !important;
}

/* nav .navbar-nav li a{
    color: #FFCB21 !important;
} */

nav {
    width: 100vw;
}

.nav-item {
    display: inline-block;
}

.user-picture {
    border: 2px solid #2176AE;
}

.nav-links{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-end;
    align-items: center;
} 

.nav-icon{
    font-size: 24px;
}